// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .skill-box p {
    text-align: center;
  }
  .project-box {
    align-items: center;
  }
  .contacts {
    min-height: initial;
    justify-content: flex-start;
    margin-top: 3rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contacts {
    font-size: 1.5rem;
  }
  .fas,
  .fab {
    font-size: 3rem;
  }
  .skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .skill-box {
    min-height: 150px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #navbarSupportedContent {
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav {
    width: 50%;
    justify-content: space-between;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar-nav {
    justify-content: space-around;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .navbar-nav {
    justify-content: space-evenly;
  }
}
